<%= render template: '/posts/new' %>

<% if @posts %>
<% @posts.each do |post| %>
<div class="posts">
	<%= post.message %>
	<div class="add_message">
		<%= render template: '/comments/new' %>
	</div>
</div>
<% end %>
<% end %>
